APP_NAME=hearing-ai-service
APP_ENV=development
PORT=8001

AI_SHARED_TOKEN=AxQ8xhOnH0c8MJRiQTKLHljFw3NKXgRNBN0a0mmYc34=
BACKEND_INTERNAL_URL=https://hearing-backend-service.onrender.com
BACKEND_API_KEY=s75Qcdf140Ww/7h31Fhn3MUUZzoRlyxC/eZ6V9bYcXY=

STT_PROVIDER=faster-whisper
STT_LANGUAGE=ko
WHISPER_MODEL_SIZE=base
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8

FORWARD_TIMEOUT_SEC=10
MIN_CONFIDENCE=0.0

UPLOAD_DIR=tmp_uploads
MAX_UPLOAD_SIZE_MB=25