APP_NAME=hearing-ai-service
APP_ENV=development
PORT=8001

AI_SHARED_TOKEN=AxQ8xhOnH0c8MJRiQTKLHljFw3NKXgRNBN0a0mmYc34=
BACKEND_INTERNAL_URL=https://hearing-backend-service.onrender.com
BACKEND_API_KEY=s75Qcdf140Ww/7h31Fhn3MUUZzoRlyxC/eZ6V9bYcXY=

STT_PROVIDER=openai
STT_LANGUAGE=ko

OPENAI_API_KEY=여기에_API키
OPENAI_STT_MODEL=gpt-4o-mini-transcribe

FORWARD_TIMEOUT_SEC=10
MIN_CONFIDENCE=0.0

UPLOAD_DIR=tmp_uploads
MAX_UPLOAD_SIZE_MB=25